*{
    margin: 0;
    font-family: sans-serif;
}

.map-container{
    padding: 30px;
    text-align: center;
}

.filter-search-section{
    padding:0px 30px 30px 30px;
    margin: auto;
    max-width: 1000px;
}

.filter-search-section h2{
    text-align: center;
}

.search-bar-section{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

